/* App.css */

/* Pop-up animation */
.pop-up {
    animation: popUp 0.5s ease-out;
  }
  
  @keyframes popUp {
    0% {
      transform: scale(0);
      opacity: 0;
    }
    50% {
      transform: scale(1.2);
      opacity: 0.8;
    }
    100% {
      transform: scale(1);
      opacity: 1;
    }
  }
  